<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand " href="#">
        <img
          src="assets/images/logo.png"
          height="35"
          width="35"
          alt=""
          loading="lazy"
        />
      </a>

    </div>
    <div>
      <!-- Search form   -->
      <form class="input-group w-auto my-auto d-none d-sm-flex" [formGroup]="searchForm" (ngSubmit)="handleTitleSearch()">
<!--        <mat-form-field >-->
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search for a movie"
            style="min-width: 600px; float:right; background-color: #27272c; border-color: #E74C3C; color: white"
            matInput
            formControlName="title"
            [formControl]="inputControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event.option.value)"
                            [displayWith]="displayWith">
            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let movie of filteredMovies " [value]="movie"  style="height: 150px;">
                <mat-grid-list cols="3" >
                  <mat-grid-tile [colspan]="2"><b>{{movie.title}}</b></mat-grid-tile>
                  <mat-grid-tile><img style="object-fit: cover;" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"></mat-grid-tile>
                </mat-grid-list>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
          <span class="input-group-text border-0 d-none d-lg-flex"
                style="background-color: #E74C3C;"
          ><i class="bi bi-search"></i
          ></span>
<!--        </mat-form-field>-->
      </form>
    </div>
    <!-- Left elements -->
    <div style="float: right">
      <!-- Right elements -->
      <ul class="navbar-nav flex-row">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Admin Section
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="users">Manage Users</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link d-sm-flex align-items-sm-center" href="#">
            <img
              src="https://mdbootstrap.com/img/new/avatars/1.webp"
              class="rounded-circle"
              height="22"
              alt=""
              loading="lazy"
            />
            <strong class="d-none d-sm-block ms-1">John</strong>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-1">
          <a class="btn nav-link">
            <i class="bi bi-box-arrow-in-right"></i>
          </a>
        </li>
      </ul>

      <!-- Right elements -->
    </div>
  </div>
</nav>
